*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: greenyellow;
    color: red;
    padding: 30px;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    box-shadow: 4px 20px 20px 0px black;
    background-color: white;
}

caption{
    text-decoration: underline;
    color: darkgoldenrod;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

a:link{
    text-decoration: none;
}

.addbutton{
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 95px;
    border-radius: 20px;
    width: 200px;
    font-size: 25px;
    background-color: crimson;
    color: white;
}

input[type=button], input[type=submit], input[type=reset] {

    background: #B9DFFF;

    color: #fff;

    border: 1px solid #eee;

    border-radius: 20px;

    box-shadow: 5px 5px 5px #eee;

    text-shadow:none;

}

input[type=button], input[type=submit], input[type=reset]:hover {

    background: #016ABC;

    color: #fff;

    border: 1px solid #eee;

    border-radius: 20px;

    box-shadow: 5px 5px 5px #eee;

    text-shadow:none;

}
input[type=button], input[type=submit], input[type=reset]