<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Profile</title>
    <link  rel="stylesheet" type="text/css" th:href="@{/style.css}" href="" />
</head>
<body>
    <div class="header">
        <h1>Customer Profile</h1>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Customer Id :</td>
                    <td><p th:text="${ customer.getId()}"></p></td>
                </tr>
                <tr>
                    <td>First Name :</td>
                    <td><p th:text="${customer.getFirstName()}"></p></td>
                </tr>
                <tr>
                    <td>Last Name :</td>
                    <td><p th:text="${customer.getLastName()}"></p></td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td><p th:text="${customer.getEmail()}"></p> </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br><br>
    <div>
        <input type="button" value="Back"
               onclick="window.location.href='../customers'; return false;"
               class="addbutton">
    </div>

</body>
</html>