<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Profile</title>
    <link  rel="stylesheet" type="text/css" th:href="@{/style.css}" href="" />
</head>
<body>
    <div class="header">
        <h1>Customer Profile</h1>
    </div>
    <div>
        <p th:text="${'Customer Id : ' + customer.getId()}"></p> <br><br>
        <p th:text="${'First Name : ' + customer.getFirstName()}"></p> <br><br>
        <p th:text="${'Last Name : ' + customer.getLastName()}"></p> <br><br>
        <p th:text="${'Customer Email : ' + customer.getEmail()}"></p> <br><br>
    </div>

</body>
</html>