<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link  rel="stylesheet" type="text/css" th:href="@{/style.css}" href="" />
</head>
<body>
    <div class="header">
        <h1>Customer App Home</h1>
    </div>

    <hr>
    <br><br><br>
    <div>
        <input type="button" value="Customer List"
               onclick="window.location.href='v1/customers'; return false;"
               class="addbutton">
    </div>


</body>
</html>